.odd {
    background-color: rgb(255,0,162);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.three {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    color: rgb(111, 255, 0);
    font-size: 24px;
    font-weight: 700;
}